// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";
@import 'font-awesome';

body {
  background: #e2ebf3;
  
}

.container {
  width: 600px;
  margin: 20px auto;
}

h3, p {
  text-align: center;

}


